.navbar-item {
    color: white;
    font-weight: 500;
}

.data-scientist {
    line-height: 1.5;
    font-weight: 1000;
    text-align: center;
}

.independent {
    margin-top: 20px;
    line-height: 0;
    font-weight: 800;
    color: pink;
}

@media only screen and (max-width: 600px) {
    .toggler {
        width: 50%;
        margin: auto;
    }
}

@media only screen and (min-width: 600px) {
    .toggler {
        width: 25%;
        margin: auto;
    }
}

@media only screen and (min-width: 768px) {
    .toggler {
        width: 25%;
        margin: auto;
    }
}