.all-services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.services {
    width: 75%;
    margin: auto;
}

.services-header-container {
    text-align: center;
    width: 75%;
    margin: auto;
    background-color: rgba(255, 99, 71, 0.452);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .all-services-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    .services {
        width: 100%;
        padding: 10px;
        margin: auto;
    }
}

@media only screen and (min-width: 600px) {
    .all-services-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }

    .services {
        width: 100%;
        padding: 10px;
        margin: auto;
    }
}

@media only screen and (min-width: 768px) {
    .all-services-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }

    .services {
        width: 75%;
        margin: auto;
    }
}

@media only screen and (min-width: 992px) {
    .all-services-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }

    .services {
        width: 75%;
        margin: auto;
    }
}