.home-services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.home-services-header {
    text-align: center;
    font-weight: 700;
    color: white;
    background-color: tomato;
    padding: 5px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
}