.home-container {
    width: 75%;
    margin: auto;
}

.header-title {
    background-color: tomato;
    border-radius: 10px;
    text-align: center;
}

.header-title-text {
    font-weight: 800;
    color: white;
}

.header-title-desc {
    color: white;
}

@media only screen and (max-width: 600px) {
    .home-container {
        width: 100%;
        padding: 10px;
    }
}

@media only screen and (min-width: 600px) {
    .home-container {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .home-container {
        width: 75%;
        margin: auto;
    }
}

@media only screen and (min-width: 992px) {
    .home-container {
        width: 75%;
        margin: auto;
    }
}